.backgroundElement {
    height: calc(100vh - 50px);
    background: url('CInventor.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}